In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_json('https://gbfs.capitalbikeshare.com/gbfs/en/station_information.json')
df.data['stations'][0]

{'region_id': '41',
 'rental_uris': {'android': 'https://dc.lft.to/lastmile_qr_scan',
  'ios': 'https://dc.lft.to/lastmile_qr_scan'},
 'electric_bike_surcharge_waiver': False,
 'lon': -77.05323,
 'external_id': '082469cc-1f3f-11e7-bf6b-3863bb334450',
 'legacy_id': '1',
 'lat': 38.858971,
 'capacity': 15,
 'eightd_station_services': [],
 'rental_methods': ['CREDITCARD', 'KEY'],
 'short_name': '31000',
 'has_kiosk': True,
 'station_type': 'classic',
 'station_id': '1',
 'name': 'Eads St & 15th St S',
 'eightd_has_key_dispenser': False}

In [3]:
df.data[0][0]['rental_methods']

['CREDITCARD', 'KEY']

In [4]:
len(df.data[0])

621

In [5]:
station_id = []
all_stations = []
lon = []
lat = []
capacity = []

In [6]:
for i in range(len(df.data[0])):
    station_id.append(df.data[0][i]['station_id'])
    all_stations.append(df.data[0][i]['name'])
    lon.append(df.data[0][i]['lon'])
    lat.append(df.data[0][i]['lat'])
    capacity.append(df.data[0][i]['capacity'])

all_stations = pd.DataFrame(all_stations)
station_id = pd.DataFrame(station_id)
lat = pd.DataFrame(lat)
lon = pd.DataFrame(lon)
capacity = pd.DataFrame(capacity)
all_stations['station_id'] = station_id
all_stations['lat'] = lat
all_stations['lon'] = lon
all_stations['capacity'] = capacity
all_stations.columns = ['street', 'station_id', 'lat', 'lon', 'capacity']

In [7]:
all_stations

,street,station_id,lat,lon,capacity
0,Eads St & 15th St S,1,38.858971,-77.053230,15
1,18th St & S Eads St,2,38.857250,-77.053320,11
2,Crystal Dr & 20th St S,3,38.856425,-77.049232,17
3,Crystal Dr & 15th St S,4,38.860170,-77.049593,11
4,Aurora Hills Cmty Ctr / 18th St & S Hayes St,5,38.857866,-77.059490,11
...,...,...,...,...,...
616,2nd & V St SW / James Creek Marina,654,38.863743,-77.013814,19
617,1st St & Potomac Ave SE,655,38.871841,-77.005910,19
618,20th & Columbia Rd NW,656,38.918036,-77.045487,19
619,3rd & M st SE,657,38.876823,-77.002161,23
620,53rd & D St SE/C.W. Harris Elementary,659,38.883318,-76.925315,19

In [8]:
all_stations.to_csv('stations_capitalbikeshare.csv')