In [1]:
# This file creates a CSV file with all Capital Bikeshare stations from an online stored JSON file.
# The new CSV file helps to save storage and calculation capacities when using the bike trip data. 

import pandas as pd
import numpy as np

In [2]:
# Loading and checking the JSON file

df = pd.read_json('https://gbfs.capitalbikeshare.com/gbfs/en/station_information.json')
df.data['stations'][0]

{'short_name': '31000',
 'has_kiosk': True,
 'legacy_id': '1',
 'station_type': 'classic',
 'rental_methods': ['CREDITCARD', 'KEY'],
 'eightd_station_services': [],
 'electric_bike_surcharge_waiver': False,
 'external_id': '082469cc-1f3f-11e7-bf6b-3863bb334450',
 'eightd_has_key_dispenser': False,
 'capacity': 15,
 'lon': -77.05323,
 'rental_uris': {'ios': 'https://dc.lft.to/lastmile_qr_scan',
  'android': 'https://dc.lft.to/lastmile_qr_scan'},
 'region_id': '41',
 'lat': 38.858971,
 'name': 'Eads St & 15th St S',
 'station_id': '1'}

In [3]:
df.data[0][0]['rental_methods']

['CREDITCARD', 'KEY']

In [4]:
len(df.data[0])

627

In [5]:
station_id = []
all_stations = []
lon = []
lat = []
capacity = []

In [6]:
# Extraction of the necessary information and storing it in what will become the dataframe 'all_stations'

for i in range(len(df.data[0])):
    station_id.append(df.data[0][i]['station_id'])
    all_stations.append(df.data[0][i]['name'])
    lon.append(df.data[0][i]['lon'])
    lat.append(df.data[0][i]['lat'])
    capacity.append(df.data[0][i]['capacity'])

all_stations = pd.DataFrame(all_stations)
station_id = pd.DataFrame(station_id)
lat = pd.DataFrame(lat)
lon = pd.DataFrame(lon)
capacity = pd.DataFrame(capacity)
all_stations['station_id'] = station_id
all_stations['lat'] = lat
all_stations['lon'] = lon
all_stations['capacity'] = capacity
all_stations.columns = ['street', 'station_id', 'lat', 'lon', 'capacity']

In [7]:
all_stations

,street,station_id,lat,lon,capacity
0,Eads St & 15th St S,1,38.858971,-77.053230,15
1,18th St & S Eads St,2,38.857250,-77.053320,11
2,Crystal Dr & 20th St S,3,38.856425,-77.049232,17
3,Crystal Dr & 15th St S,4,38.861056,-77.049417,16
4,Aurora Hills Cmty Ctr / 18th St & S Hayes St,5,38.857866,-77.059490,11
...,...,...,...,...,...
622,Whiting & Lane Dr,663,38.809709,-77.135788,15
623,N Howard St & Taney Ave,664,38.815842,-77.110014,15
624,Anacostia Roller Skating Pavillion,665,38.878771,-76.970930,19
625,S Clark St & 33rd St,667,38.845028,-77.051956,11
626,Columbia Pike & S Greenbrier St,668,38.854019,-77.118106,15

In [8]:
all_stations.to_csv('stations_capitalbikeshare.csv')