In [35]:
# This file creates automatically 1 big CSV file from previously 24 files with monthly data from January 2019 until December 2020. 
# Furthermore it is making a few necessary changes for later data processing. 


import pandas as pd
import numpy as np

In [36]:
# These 2 files contain the main data structures with changes in April 2020. 
# The data before and after the change of structure needs to be adjusted.

df1 = pd.read_csv('201901-capitalbikeshare-tripdata.csv')
df16 = pd.read_csv('202004-capitalbikeshare-tripdata.csv')

In [37]:
df1 = pd.DataFrame(df1)
df16 = pd.DataFrame(df16)

In [38]:
df1.head(3)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual

In [39]:
df16.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,574D7036265F871A,docked_bike,2020-04-06 16:14:44,2020-04-06 16:21:11,25th St & Pennsylvania Ave NW,31237,20th & E St NW,31204.0,38.903827,-77.053485,38.896300,-77.045000,member
1,599129C4D2E63705,docked_bike,2020-04-07 13:23:05,2020-04-07 13:28:05,25th St & Pennsylvania Ave NW,31237,22nd & I St NW / Foggy Bottom,31257.0,38.903827,-77.053485,38.900880,-77.048911,member
2,51968E3A179DF45D,docked_bike,2020-04-07 14:26:56,2020-04-07 14:33:25,25th St & Pennsylvania Ave NW,31237,34th & Water St NW,31314.0,38.903827,-77.053485,38.903663,-77.067668,member

In [40]:
all_files_p1 = ['201902-capitalbikeshare-tripdata.csv', '201903-capitalbikeshare-tripdata.csv', '201904-capitalbikeshare-tripdata.csv', '201905-capitalbikeshare-tripdata.csv', '201906-capitalbikeshare-tripdata.csv', '201907-capitalbikeshare-tripdata.csv', '201908-capitalbikeshare-tripdata.csv', '201909-capitalbikeshare-tripdata.csv', '201910-capitalbikeshare-tripdata.csv', '201911-capitalbikeshare-tripdata.csv', '201912-capitalbikeshare-tripdata.csv', '202001-capitalbikeshare-tripdata.csv', '202002-capitalbikeshare-tripdata.csv', '202003-capitalbikeshare-tripdata.csv']
all_files_p2 = ['202005-capitalbikeshare-tripdata.csv', '202006-capitalbikeshare-tripdata.csv', '202007-capitalbikeshare-tripdata.csv', '202008-capitalbikeshare-tripdata.csv', '202009-capitalbikeshare-tripdata.csv', '202010-capitalbikeshare-tripdata.csv', '202011-capitalbikeshare-tripdata.csv', '202012-capitalbikeshare-tripdata.csv']

In [41]:
df1.columns = ['duration', 'start_date', 'end_date', 'start_station_id', 'start_station_name', 'end_station_id', 'end_station_name', 'bike_number', 'member_type']

In [42]:
# Adjustment of the customer type notation

customer = []
for i in range(len(df1)):
    if df1['member_type'][i] == 'Member':
        customer.append('M') 
    else: 
        customer.append('C')

customer = pd.DataFrame(customer)
df1['customer'] = customer

In [43]:
df1 = df1.drop(['start_station_name', 'end_station_name', 'member_type'], axis = 1)     # This specific station information will be provided by a specific CSV file.
df = df1

In [44]:
df.head(3)

,duration,start_date,end_date,start_station_id,end_station_id,bike_number,customer
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,31200,E00141,M
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,31114,W24067,C
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,31323,W22654,C

In [45]:
# This loop serves the purpose of automatically read and process all files until March 2020.

for i in all_files_p1:
    data = pd.read_csv(i)
    data = pd.DataFrame(data)
    data.columns = ['duration', 'start_date', 'end_date', 'start_station_id', 'start_station_name', 'end_station_id', 'end_station_name', 'bike_number', 'member_type']
    customer = []
    for i in range(len(data)):
        if data['member_type'][i] == 'Member':
            customer.append('M') 
        else: 
            customer.append('C')
    customer = pd.DataFrame(customer)
    data['customer'] = customer
    data = data.drop(['start_station_name', 'end_station_name', 'member_type'], axis = 1)
    df = pd.concat([df, data], axis=0)

In [46]:
df

,duration,start_date,end_date,start_station_id,end_station_id,bike_number,customer
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,31200,E00141,M
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,31114,W24067,C
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,31323,W22654,C
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,31280,W22336,M
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,31923,70004,M
...,...,...,...,...,...,...,...
162525,673,2020-03-31 23:17:58,2020-03-31 23:29:12,31235,31265,W22920,M
162526,514,2020-03-31 23:18:13,2020-03-31 23:26:47,31203,31324,21054,M
162527,1524,2020-03-31 23:29:00,2020-03-31 23:54:25,31110,31403,W24341,M
162528,565,2020-03-31 23:41:17,2020-03-31 23:50:43,31603,31256,W22691,M
162529,1054,2020-03-31 23:45:05,2020-04-01 00:02:40,31325,31214,W24051,M

In [47]:
df.isnull().sum()

duration             0
start_date           0
end_date             0
start_station_id     0
end_station_id       0
bike_number         14
customer             0
dtype: int64

In [48]:
df = df.fillna(0)   # Filling Null values with '0' in bike_number

In [49]:
df.start_date = pd.to_datetime(df.start_date, yearfirst=True)
df.end_date = pd.to_datetime(df.end_date, yearfirst=True)
df = df[['start_date','end_date','duration', 'start_station_id','end_station_id', 'bike_number', 'customer']]

In [50]:
df16.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,574D7036265F871A,docked_bike,2020-04-06 16:14:44,2020-04-06 16:21:11,25th St & Pennsylvania Ave NW,31237,20th & E St NW,31204.0,38.903827,-77.053485,38.896300,-77.045000,member
1,599129C4D2E63705,docked_bike,2020-04-07 13:23:05,2020-04-07 13:28:05,25th St & Pennsylvania Ave NW,31237,22nd & I St NW / Foggy Bottom,31257.0,38.903827,-77.053485,38.900880,-77.048911,member
2,51968E3A179DF45D,docked_bike,2020-04-07 14:26:56,2020-04-07 14:33:25,25th St & Pennsylvania Ave NW,31237,34th & Water St NW,31314.0,38.903827,-77.053485,38.903663,-77.067668,member

In [51]:

df16 = df16.drop(['ride_id', 'rideable_type', 'start_station_name', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1)
customer = []
for j in range(len(df16)):
    if df16['member_casual'][j] == 'member':
        customer.append('M') 
    elif df16['member_casual'][j] == 'casual': 
        customer.append('C')
customer = pd.DataFrame(customer)
df16['customer'] = customer
df16 = df16.drop(['member_casual'], axis = 1)
df16.columns = ['start_date', 'end_date', 'start_station_id', 'end_station_id', 'customer']
df16['bike_number'] = 0

In [52]:
df16.start_date = pd.to_datetime(df16.start_date, yearfirst=True)
df16.end_date = pd.to_datetime(df16.end_date, yearfirst=True)
df16['duration'] = (df16.end_date - df16.start_date)
df16['duration'] = df16['duration'].dt.total_seconds()

In [53]:
df16 = df16.fillna(0)
df16.isnull().sum()

start_date          0
end_date            0
start_station_id    0
end_station_id      0
customer            0
bike_number         0
duration            0
dtype: int64

In [54]:
# Change of data types in specified columns

df16[['start_station_id', 'end_station_id']] = df16[['start_station_id', 'end_station_id']].astype(int)
df16[['duration']] = df16[['duration']].astype(int)
df16['bike_number'] = df16['bike_number'].astype(str)

In [55]:
df16 = df16[['start_date','end_date','duration', 'start_station_id','end_station_id', 'bike_number', 'customer']]

In [56]:
df.dtypes

start_date          datetime64[ns]
end_date            datetime64[ns]
duration                     int64
start_station_id             int64
end_station_id               int64
bike_number                 object
customer                    object
dtype: object

In [57]:
df16.dtypes

start_date          datetime64[ns]
end_date            datetime64[ns]
duration                     int32
start_station_id             int32
end_station_id               int32
bike_number                 object
customer                    object
dtype: object

In [58]:
df17 = pd.read_csv('202005-capitalbikeshare-tripdata.csv')
df17.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,946D42AD89539210,docked_bike,2020-05-30 17:25:29,2020-05-31 18:25:22,Anacostia Library,31804,11th & H St NE,31614.0,38.865784,-76.978400,38.899983,-76.991383,casual
1,CC46FAAB662B8613,docked_bike,2020-05-09 14:42:04,2020-05-09 15:06:33,10th & E St NW,31256,21st St & Constitution Ave NW,31261.0,38.895914,-77.026064,38.892459,-77.046567,member
2,72F00B2FB833D6ED,docked_bike,2020-05-24 17:27:19,2020-05-24 17:43:51,Connecticut Ave & Newark St NW / Cleveland Park,31305,12th & U St NW,31268.0,38.934267,-77.057979,38.916787,-77.028139,member

In [59]:
df_new = df16

In [60]:
# This loop serves the purpose of automatically read and process all files starting April 2020.

for i in all_files_p2:
    data = pd.read_csv(i)
    data = pd.DataFrame(data)
    data = data.drop(['ride_id', 'rideable_type', 'start_station_name', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1)
    customer = []
    for j in range(len(data)):
        if data['member_casual'][j] == 'member':
            customer.append('M') 
        elif data['member_casual'][j] == 'casual': 
            customer.append('C')
    customer = pd.DataFrame(customer)
    data['customer'] = customer
    data['bike_number'] = 0
    data = data.drop(['member_casual'], axis = 1)
    data.columns = ['start_date', 'end_date', 'start_station_id', 'end_station_id', 'customer', 'bike_number']
    data.start_date = pd.to_datetime(data.start_date, yearfirst=True)
    data.end_date = pd.to_datetime(data.end_date, yearfirst=True)
    data['duration'] = (data.end_date - data.start_date)
    data['duration'] = data['duration'].dt.total_seconds()
    data = data.fillna(0)
    data[['start_station_id', 'end_station_id']] = data[['start_station_id', 'end_station_id']].astype(int)
    data[['duration']] = data[['duration']].astype(int)
    data['bike_number'] = data['bike_number'].astype(str)
    data = data[['start_date','end_date','duration', 'start_station_id','end_station_id', 'bike_number', 'customer']]
    df_new = pd.concat([df_new, data], axis=0)

In [61]:
df_new.isnull().sum()

start_date          0
end_date            0
duration            0
start_station_id    0
end_station_id      0
bike_number         0
customer            0
dtype: int64

In [62]:
# This is where the two different dataframes are concatenated.

df = pd.concat([df, df_new], axis=0)

In [63]:
df = df.drop_duplicates()

In [64]:
# And save...

df.to_csv('rides_2019_2020.csv')